<!-- <div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Cost ($)</th>
        <th>Create Date</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th colspan=2>Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shipment of shipmentList">
        <td *ngFor="let item of ['ref', 'cost', 'created_at']">{{shipment[item]}} </td>
        <td>{{shipment.origin.contact.name}}</td>
        <td>{{shipment.destination.contact.name}}</td>
        <td>
          <button routerLink="/get/{{shipment.ref}}" class="btn btn-primary btn-width">Detail</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
            (click)="confirmDelete(shipment.ref)" class="btn btn-danger">Delete</button>
        </td>

      </tr>
    </tbody>
  </table>
</div> -->


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- ID Column -->
    <ng-container matColumnDef="ref">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.ref}} </td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef> Cost </th>
      <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
    </ng-container>

    <!-- Created At Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef> Created At </th>
      <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
    </ng-container>

        <!-- Sender Name Column -->
    <ng-container matColumnDef="sender">
      <th mat-header-cell *matHeaderCellDef> Sender Name</th>
      <td mat-cell *matCellDef="let element"> {{element.origin.contact.name}} </td>
    </ng-container>

        <!-- Receiver Column -->
    <ng-container matColumnDef="receiver">
      <th mat-header-cell *matHeaderCellDef> Receiver Name </th>
      <td mat-cell *matCellDef="let element"> {{element.destination.contact.name}} </td>
    </ng-container>

    <!-- Option Column -->
    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef> Option </th>
      <td mat-cell *matCellDef="let element">
        <button routerLink="/get/{{element.ref}}" mat-raised-button color="primary">Detail</button>
        <button data-toggle="modal" data-target="#exampleModal" (click)="confirmDelete(element.ref)" mat-raised-button
          color="warn">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure want to delete this shipment?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button data-dismiss="modal" type="button" (click)="onDelete()" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
