<div class="container">
  <div class="card text-left">
    <div class="card-body">
      <h4 class="card-title">About Me</h4>
      <p class="card-text"><strong>Name:</strong> Dao Duy Tan</p>
      <p class="card-text"><strong>Email:</strong> TanDD9@fsoft.com.vn</p>
      <p class="card-text"><strong>Phone:</strong> 0968325920</p>

    </div>
  </div>
</div>
