<div class="wrapper fadeInDown">
  <div  id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">

    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label>Email</label>
        <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }" type="text" id="login" formControlName="email"
          class="fadeIn second form-control" name="login" placeholder="login">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password" id="password"
          formControlName="password" class="fadeIn third form-control" name="login" placeholder="password">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          <div *ngIf="f.password.errors.pattern">Password is not pattern</div>
        </div>
      </div>

      <input type="submit"  class="fadeIn fourth" value="Log In">
      <div *ngIf="error" class="alert alert-danger" role="alert">
        <strong>{{messenger}}</strong>
      </div>

    </form>

    <!-- Remind Passowrd -->


  </div>
</div>
