<div class="container">
  <div *ngIf="!visibility" class="Get Quote">
<!--
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">DSL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link disabled" href="#">TanDD9 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Create Shipment</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Get Quote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/list']" routerLinkActive="router-link-active">Shipment</a>
          </li>
          <li class="nav-item active float-right">
            <a class="nav-link disabled">{{fullName}}</a>
          </li>

        </ul>
      </div>
    </nav> -->

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-4">

          <div class="jumbotron">
            <h3>Sender</h3>
            <div class="form-group">
              <label for="inputEmailSender" class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="emailSender" placeholder="Email"
                [ngClass]="{ 'is-invalid': submitted && f.emailSender.errors }">
              <div *ngIf="submitted && f.emailSender.errors" class="invalid-feedback">
                <div *ngIf="f.emailSender.errors.required">Email is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputName" class="form-label">Name</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.nameSender.errors }" type="text" class="form-control"
                formControlName="nameSender" placeholder="Your name">
              <div *ngIf="submitted && f.nameSender.errors" class="invalid-feedback">
                <div *ngIf="f.nameSender.errors.required">Name is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPhoneSender" class="form-label">Phone</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.phoneSender.errors }" type="number" class="form-control"
                formControlName="phoneSender" placeholder="Phone">
              <div *ngIf="submitted && f.phoneSender.errors" class="invalid-feedback">
                <div *ngIf="f.phoneSender.errors.required">Phone is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputAddressSender" class="form-label">Address</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.addressSender.errors }" type="text" class="form-control"
                formControlName="addressSender" placeholder="Address">
              <div *ngIf="submitted && f.addressSender.errors" class="invalid-feedback">
                <div *ngIf="f.addressSender.errors.required">Address is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputLocalitySender" class="form-label">Locality</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.localitySender.errors }" type="text" class="form-control"
                formControlName="localitySender" placeholder="Locality">
              <div *ngIf="submitted && f.localitySender.errors" class="invalid-feedback">
                <div *ngIf="f.localitySender.errors.required">Locality is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPostal" class="form-label">Postal Code</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.postalSender.errors }" type="number" class="form-control"
                formControlName="postalSender" placeholder="Postal Code">
              <div *ngIf="submitted && f.postalSender.errors" class="invalid-feedback">
                <div *ngIf="f.postalSender.errors.required">Postal Code is required</div>
              </div>
            </div>

            <div class="form-group">
              <label>Country</label>
              <select name="receiver_country_code" id="receiver_country_code" formControlName="countrySender"
                class="form-control">
                <option value="FR">France</option>
              </select>
            </div>
          </div>




        </div>


        <div class="col-4">
          <h3 style="margin-top: 55px">Receiver</h3>
          <div class="form-group">
            <label for="inputNameReceiver" class="form-label">Name</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.nameRecv.errors }" type="text" class="form-control"
              formControlName="nameRecv" placeholder="Name">
            <div *ngIf="submitted && f.nameRecv.errors" class="invalid-feedback">
              <div *ngIf="f.nameRecv.errors.required">Name is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmailReceiver" class="form-label">Email</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.emailRecv.errors }" type="email" class="form-control"
              formControlName="emailRecv" placeholder="Email">
            <div *ngIf="submitted && f.emailRecv.errors" class="invalid-feedback">
              <div *ngIf="f.emailRecv.errors.required">Email is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputLocalitySender" class="form-label">Phone</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.phoneRecv.errors }" type="number" class="form-control"
              formControlName="phoneRecv" placeholder="Phone">
            <div *ngIf="submitted && f.phoneRecv.errors" class="invalid-feedback">
              <div *ngIf="f.phoneRecv.errors.required">Phone is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputAddressReceiver" class="form-label">Address</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.addressRecv.errors }" type="text" class="form-control"
              formControlName="addressRecv" placeholder="Address">
            <div *ngIf="submitted && f.addressRecv.errors" class="invalid-feedback">
              <div *ngIf="f.addressRecv.errors.required">Address is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputLocalitySender" class="form-label">Locality</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.localityRecv.errors }" type="text" class="form-control"
              formControlName="localityRecv" placeholder="Locality">
            <div *ngIf="submitted && f.localityRecv.errors" class="invalid-feedback">
              <div *ngIf="f.localityRecv.errors.required">Locality is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPostalReceiver" class="form-label">Postal Code</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.postalRecv.errors }" type="number" class="form-control"
              formControlName="postalRecv" placeholder="Postal Code">
            <div *ngIf="submitted && f.postalRecv.errors" class="invalid-feedback">
              <div *ngIf="f.postalRecv.errors.required">Postal Code is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Country</label>
            <select name="receiver_country_code" id="receiver_country_code" formControlName="countryRecv"
              class="form-control">
              <option value="FR">France</option>
            </select>
          </div>
          <button *ngIf="!visibility" class="btn btn-primary" type="submit">Submit</button>



        </div>
        <div class="col-4">
          <div class="jumbotron">
            <h3>Package</h3>
            <div class="form-group">
              <label for="inputPackageLength" class="form-label">Length (cm)</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.packageLength.errors }" type="number"
                class="form-control" formControlName="packageLength" placeholder="Length">
              <div *ngIf="submitted && f.packageLength.errors" class="invalid-feedback">
                <div *ngIf="f.packageLength.errors.required">Length is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPackageWidth" class="form-label">Width (cm)</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.packageWidth.errors }" type="number" class="form-control"
                formControlName="packageWidth" placeholder="Country">
              <div *ngIf="submitted && f.packageWidth.errors" class="invalid-feedback">
                <div *ngIf="f.packageWidth.errors.required">Width is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPackageHeight" class="form-label">Height (cm)</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.packageHeight.errors }" type="number"
                class="form-control" formControlName="packageHeight" placeholder="Height">
              <div *ngIf="submitted && f.packageHeight.errors" class="invalid-feedback">
                <div *ngIf="f.packageHeight.errors.required">Height is required</div>
              </div>
            </div>
            <div class="form-group hidden">
              <label>Unit</label>
              <input type="text" name="unit" class="form-control" formControlName="packageUnitCm">
            </div>
            <h3>Gross Weight</h3>
            <div class="form-group">
              <label for="inputPackageWeight" class="form-label">Weight (gram) </label>
              <input [ngClass]="{ 'is-invalid': submitted && f.packageWeight.errors }" type="number"
                class="form-control" formControlName="packageWeight" placeholder="Weight">
              <div *ngIf="submitted && f.packageWeight.errors" class="invalid-feedback">
                <div *ngIf="f.packageWeight.errors.required">Weight is required</div>
              </div>
            </div>
            <div class="form-group hidden">
              <label>Unit</label>
              <select name="receiver_country_code" id="receiver_country_code" formControlName="packageUnit"
                class="form-control">
                <option value="g">g</option>
              </select>
            </div>
          </div>

        </div>



      </div>
    </form>
  </div>



  <div class="Create Quote" *ngIf="visibility">
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">DSL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link disabled" href="#">TanDD9 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link disabled" href="#">Create Shipment</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link disabled">Get Quote</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " [routerLink]="['/list']" routerLinkActive="router-link-active" tabindex="-1"
              aria-disabled="true">Shipment List</a>
          </li>
        </ul>
      </div>
    </nav> -->



    <div *ngIf="!createAlert" class="Create Shipment">
      <div class="alert alert-primary" role="alert">
        Get Quote successfully, please check out the Information
      </div>
      <div class="row">

        <div class="col-4">
          <div class="card text-white bg-primary">
            <div class="card-header">Sender Information</div>
            <div class="card-body bg-light text-dark">
              <p><strong>Name:</strong> {{shipment.data.origin.contact.name}}</p>
              <p><strong>Email:</strong> {{shipment.data.origin.contact.email}}</p>
              <p><strong>Phone:</strong> {{shipment.data.origin.contact.phone}}</p>
              <p><strong>Country:</strong> {{shipment.data.origin.address.country_code}}</p>
              <p><strong>Locality:</strong> {{shipment.data.origin.address.locality}}</p>
              <p><strong>Postal Code:</strong> {{shipment.data.origin.address.postal_code}}</p>
              <p><strong>Address:</strong> {{shipment.data.origin.address.address_line1}}</p>
            </div>
          </div>
        </div>

        <div class="col-4">

          <div class="card text-white bg-primary">
            <div class="card-header">Receiver Information</div>
            <div class="card-body bg-light text-dark">
              <p><strong>Name Sender:</strong> {{shipment.data.destination.contact.name}}</p>
              <p><strong>Email:</strong> {{shipment.data.destination.contact.email}}</p>
              <p><strong>Phone:</strong> {{shipment.data.destination.contact.phone}}</p>
              <p><strong>Country:</strong> {{shipment.data.destination.address.country_code}}</p>
              <p><strong>Locality:</strong> {{shipment.data.destination.address.locality}}</p>
              <p><strong>Postal Code:</strong> {{shipment.data.destination.address.postal_code}}</p>
              <p><strong>Address:</strong> {{shipment.data.destination.address.address_line1}}</p>
            </div>
          </div>
          <div>
            <p></p>
          </div>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
           class="btn btn-primary">Create</button>
          <!-- <button *ngIf="visibility" class="btn btn-primary" (click)="onCreate()">Create</button> -->
          <button *ngIf="visibility" class="btn btn-warning text-light" (click)="onBack()">Back</button>


        </div>

        <div class="col-4">

          <div class="card text-white bg-primary">
            <div class="card-header">Package Information</div>
            <div class="card-body bg-light text-dark">
              <p><strong>Height:</strong> {{shipment.data.package.dimensions.height}}
                {{shipment.data.package.dimensions.unit}}
              </p>
              <p><strong>Width:</strong> {{shipment.data.package.dimensions.width}}
                {{shipment.data.package.dimensions.unit}}
              </p>
              <p><strong>Length:</strong> {{shipment.data.package.dimensions.length}}
                {{shipment.data.package.dimensions.unit}}
              </p>
              <p><strong>Weight:</strong> {{shipment.data.package.grossWeight.amount}}
                {{shipment.data.package.grossWeight.unit}}</p>
              <div class="alert alert-warning" role="alert"> Your shipping fee is
                {{shipment.data.cost}} $
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>


  </div>
  <div *ngIf="createAlert">
    <div class="alert alert-success" role="alert">
      Create Shipment Successfully
    </div>
    <button class="btn btn-primary" (click)="onBack()">Back</button>
  </div>



</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure want to create this shipment?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button data-dismiss="modal" type="button" (click)="onCreate()" class="btn btn-warning">Create</button>
      </div>
    </div>
  </div>
</div>
