<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <div class="row">
    <div class="col-sm-1">
      <a [routerLink]="['/add']" routerLinkActive="router-link-active" > <img class="fpt-logo img-fluid" src="/assets/download.png" alt="logo">
      </a>
    </div>

    <div class="col-sm-10">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >DSL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link " [routerLink]="['/about']" routerLinkActive="router-link-active"  >TanDD9 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link "[routerLink]="['/add']" routerLinkActive="router-link-active"  tabindex="-1" aria-disabled="true">Get Quote</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/list']" routerLinkActive="router-link-active">Shipment List</a>
            </li>

          </ul>
        </div>
      </nav>
    </div>

    <div class="col-sm-1">
         <div class="menu_login">
           <div class="menu">
             <ul style="list-style-type:none" class="nav-menu" *ngIf="isLogged; else infoUser">
               <li class="fullname">
                 <a style="color: cornflowerblue"> Hi {{fullName}}!</a>
               </li>
               <li>
                 <a class="btn btn-sm btn-light" (click)="logout()">Logout</a>
               </li>
             </ul>
             <ng-template #infoUser>
               <ul style="list-style-type:none" class="nav-menu">
                 <li>
                   <a href="/login">Login</a>
                 </li>
                  <div class="register">
                    <p (click)="registerReq()" style="font-size: 10px;" class="register-suggest">Don't have an account? Register <a [routerLink]="['/register']" routerLinkActive="router-link-active" >here</a> </p>
                  </div>
               </ul>
             </ng-template>
           </div>
         </div>
    </div>


  </div>
  <div class="app-body">
    <router-outlet (activate)='onActivate($event)'></router-outlet>

  </div>

