<div class="container">
  <!-- <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">DSL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link disabled" href="#">TanDD9 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Create Shipment</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " [routerLink]="['/add']" routerLinkActive="router-link-active" tabindex="-1"
              aria-disabled="true">Get Quote</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " [routerLink]="['/list']" routerLinkActive="router-link-active" tabindex="-1"
              aria-disabled="true">Shipment List</a>
          </li>
        </ul>
      </div>
    </nav>
  </div> -->



  <div *ngIf="aftersave" class="After Save">
    <div *ngIf="!edit" class="Detail">

      <div class="Detail Component">
        <div class="row">

          <div class="col-4">
            <div class="card text-white bg-success">
              <div class="card-header">Sender Information</div>
              <div class="card-body bg-light text-dark">
                <p><strong>Name:</strong> {{shipment.origin.contact.name}}</p>
                <p><strong>Email:</strong> {{shipment.origin.contact.email}}</p>
                <p><strong>Phone:</strong> {{shipment.origin.contact.phone}}</p>
                <p><strong>Country:</strong> {{shipment.origin.address.country_code}}</p>
                <p><strong>Locality:</strong> {{shipment.origin.address.locality}}</p>
                <p><strong>Postal Code:</strong> {{shipment.origin.address.postal_code}}</p>
                <p><strong>Address:</strong> {{shipment.origin.address.address_line1}}</p>
              </div>
            </div>

          </div>

          <div class="col-4">
            <div class="card text-white bg-success">
              <div class="card-header">Receiver Information</div>
              <div class="card-body bg-light text-dark">
                <p><strong>Name:</strong> {{shipment.destination.contact.name}}</p>
                <p><strong>Email:</strong> {{shipment.destination.contact.email}}</p>
                <p><strong>Phone:</strong> {{shipment.destination.contact.phone}}</p>
                <p><strong>Country:</strong> {{shipment.destination.address.country_code}}</p>
                <p><strong>Locality:</strong> {{shipment.destination.address.locality}}</p>
                <p><strong>Postal Code:</strong> {{shipment.destination.address.postal_code}}</p>
                <p><strong>Address:</strong> {{shipment.destination.address.address_line1}}</p>
              </div>
            </div>


          </div>

          <div class="col-4">
            <div class="card text-white bg-success">
              <div class="card-header">Package Information</div>
              <div class="card-body bg-light text-dark">
                <p><strong>Height:</strong> {{shipment.package.dimensions.height}}
                  {{shipment.package.dimensions.unit}}
                </p>
                <p><strong>Width:</strong> {{shipment.package.dimensions.width}}
                  {{shipment.package.dimensions.unit}}
                </p>
                <p><strong>Length:</strong> {{shipment.package.dimensions.length}}
                  {{shipment.package.dimensions.unit}}
                </p>
                <p><strong>Weight:</strong> {{shipment.package.grossWeight.amount}}
                  {{shipment.package.grossWeight.unit}}</p>
                <p><strong>Cost:</strong> {{shipment.cost}} $</p>

              </div>
            </div>

          </div>


        </div>
      </div>


    </div>


    <button *ngIf="!edit" (click)="toggleEdit()" type="button" class="btn btn-primary">
      <span><strong>Edit</strong></span>
    </button>
    <button [routerLink]="['/list']" routerLinkActive="router-link-active" type="button" class="btn btn-primary">Back to
      list</button>




    <div *ngIf="edit" class="Edit">

      <div (ngSubmit) = "onSave()" [formGroup]="form" class="Edit Component">
        <div class="row">

          <div class="col-4">
            <div class="card text-white bg-success">
              <div class="card-header">Sender Information</div>
              <div class="card-body bg-light text-dark">
                <div class="form-group">
                  <label for="inputEmailSender" class="form-label">Email</label>
                  <input type="email" class="form-control"
                    formControlName="emailSender"
                    placeholder="{{shipment.origin.contact.email}}"
                    [ngClass]="{ 'is-invalid': submitted && f.emailSender.errors }">
                  <div *ngIf="submitted && f.emailSender.errors" class="invalid-feedback">
                    <div *ngIf="f.emailSender.errors.required">Email is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputName" class="form-label">Name</label>
                  <input
                    [ngClass]="{ 'is-invalid': submitted && f.nameSender.errors }" type="text" class="form-control"
                    formControlName="nameSender" placeholder="{{shipment.origin.contact.name}}">
                  <div *ngIf="submitted && f.nameSender.errors" class="invalid-feedback">
                    <div *ngIf="f.nameSender.errors.required">Name is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPhoneSender" class="form-label">Phone</label>
                  <input
                    [ngClass]="{ 'is-invalid': submitted && f.phoneSender.errors }" type="number"
                    class="form-control" formControlName="phoneSender" placeholder="{{shipment.origin.contact.phone}}">
                  <div *ngIf="submitted && f.phoneSender.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneSender.errors.required">Phone is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputAddressSender" class="form-label">Address</label>
                  <input
                    [ngClass]="{ 'is-invalid': submitted && f.addressSender.errors }" type="text"
                    class="form-control" formControlName="addressSender"
                    placeholder="{{shipment.origin.address.address_line1}}">
                  <div *ngIf="submitted && f.addressSender.errors" class="invalid-feedback">
                    <div *ngIf="f.addressSender.errors.required">Address is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputLocalitySender" class="form-label">Locality</label>
                  <input
                    [ngClass]="{ 'is-invalid': submitted && f.localitySender.errors }" type="text"
                    class="form-control" formControlName="localitySender"
                    placeholder="{{shipment.origin.address.locality}}">
                  <div *ngIf="submitted && f.localitySender.errors" class="invalid-feedback">
                    <div *ngIf="f.localitySender.errors.required">Locality is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPostal" class="form-label">Postal Code</label>
                  <input
                    [ngClass]="{ 'is-invalid': submitted && f.postalSender.errors }" type="number"
                    class="form-control" formControlName="postalSender"
                    placeholder="{{shipment.origin.address.postal_code}}">
                  <div *ngIf="submitted && f.postalSender.errors" class="invalid-feedback">
                    <div *ngIf="f.postalSender.errors.required">Postal Code is required</div>
                  </div>
                </div>


              </div>

            </div>
          </div>


          <div class="col-4">
            <div class="card text-white bg-success">
              <div class="card-header">Receiver Information</div>
              <div class="card-body bg-light text-dark">
                <div class="form-group">
                  <label for="inputNameReceiver" class="form-label">Name</label>
                  <input
                    [ngClass]="{ 'is-invalid': submitted && f.nameRecv.errors }" type="text" class="form-control"
                    formControlName="nameRecv" placeholder="{{shipment.destination.contact.name}}">
                  <div *ngIf="submitted && f.nameRecv.errors" class="invalid-feedback">
                    <div *ngIf="f.nameRecv.errors.required">Name is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmailReceiver" class="form-label">Email</label>
                  <input
                    [ngClass]="{ 'is-invalid': submitted && f.emailRecv.errors }" type="email" class="form-control"
                    formControlName="emailRecv" placeholder="{{shipment.destination.contact.email}}">
                  <div *ngIf="submitted && f.emailRecv.errors" class="invalid-feedback">
                    <div *ngIf="f.emailRecv.errors.required">Email is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputLocalitySender" class="form-label">Phone</label>
                  <input
                    [ngClass]="{ 'is-invalid': submitted && f.phoneRecv.errors }" type="number"
                    class="form-control" formControlName="phoneRecv"
                    placeholder="{{shipment.destination.contact.phone}}">
                  <div *ngIf="submitted && f.phoneRecv.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneRecv.errors.required">Phone is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputAddressReceiver" class="form-label">Address</label>
                  <input
                    [ngClass]="{ 'is-invalid': submitted && f.addressRecv.errors }" type="text"
                    class="form-control" formControlName="addressRecv"
                    placeholder="{{shipment.destination.address.address_line1}}">
                  <div *ngIf="submitted && f.addressRecv.errors" class="invalid-feedback">
                    <div *ngIf="f.addressRecv.errors.required">Address is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputLocalitySender" class="form-label">Locality</label>
                  <input
                    [ngClass]="{ 'is-invalid': submitted && f.localityRecv.errors }" type="text"
                    class="form-control" formControlName="localityRecv"
                    placeholder="{{shipment.destination.address.locality}} ">
                  <div *ngIf="submitted && f.localityRecv.errors" class="invalid-feedback">
                    <div *ngIf="f.localityRecv.errors.required">Locality is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPostalReceiver" class="form-label">Postal Code</label>
                  <input
                    [ngClass]="{ 'is-invalid': submitted && f.postalRecv.errors }" type="number"
                    class="form-control" formControlName="postalRecv"
                    placeholder="{{shipment.destination.address.postal_code}}">
                  <div *ngIf="submitted && f.postalRecv.errors" class="invalid-feedback">
                    <div *ngIf="f.postalRecv.errors.required">Postal Code is required</div>
                  </div>
                </div>

              </div>
            </div>


          </div>

          <div class="col-4">
            <div class="card text-white bg-success">
              <div class="card-header">Package Information</div>
              <div class="card-body bg-light text-dark">
                <p><strong>Height:</strong> {{shipment.package.dimensions.height}}
                  {{shipment.package.dimensions.unit}}
                </p>
                <p><strong>Width:</strong> {{shipment.package.dimensions.width}}
                  {{shipment.package.dimensions.unit}}
                </p>
                <p><strong>Length:</strong> {{shipment.package.dimensions.length}}
                  {{shipment.package.dimensions.unit}}
                </p>
                <p><strong>Weight:</strong> {{shipment.package.grossWeight.amount}}
                  {{shipment.package.grossWeight.unit}}</p>
                <p><strong>Cost:</strong> {{shipment.cost}}</p>
              </div>
            </div>

          </div>


        </div>
        <button class="btn btn-warning" (click)="onSave()" type="submit">Save</button>
      </div>

      <div>
        <button (click)="onCancel()" type="button" class="btn btn-primary">Cancel</button>
      </div>


    </div>
  </div>



  <div *ngIf="!aftersave">
    <div class="alert alert-success" role="alert">
      <strong>Save successfully</strong>
    </div>
    <button [routerLink]="['/list']" routerLinkActive="router-link-active" type="button" class="btn btn-primary">Back to
      list</button>
  </div>

</div>
