<div class="wrapper fadeInDown">

  <!-- Tabs Titles -->
  <h2>Registration</h2>
  <!-- Icon -->

  <!-- Registration Form -->
  <form [formGroup]="userRegistrationForm" novalidate>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Fullname</mat-label>
        <input matInput placeholder="Full name" formControlName="fullName">
        <mat-error>
          {{errors.fullName}}
        </mat-error>
      </mat-form-field>
    </p>


    <div formGroupName="emailGroup">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email address" type="email" formControlName="email">
          <mat-error>
            {{errors.email}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Email</mat-label>
          <input matInput placeholder="Confirm email address" type="email" formControlName="confirmEmail"
            [errorStateMatcher]="confirmValidParentMatcher">
          <mat-error>
            {{errors.confirmEmail}}
          </mat-error>
        </mat-form-field>
      </p>

    </div>



    <div formGroupName="passwordGroup">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" formControlName="password">
          <mat-error>
            {{errors.password}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword"
            [errorStateMatcher]="confirmValidParentMatcher">
          <mat-error>
            {{errors.confirmPassword}}
          </mat-error>
        </mat-form-field>
      </p>

    </div>

    <div class="flex-container">
      <button mat-raised-button [disabled]="userRegistrationForm.invalid" (click)="onSubmit()">Register</button>
    </div>



    <div *ngIf="registrationFailed" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong> {{message}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div *ngIf="registrationSuccsessfully" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>




  </form>




</div>
